* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: lightblue;
}

.mainSearch {
    display: flex;
    align-items: center;
}

.mainSearch .logo {
    padding: 1rem;
    font-size: 3rem;
    color: royalblue;
}

.mainSearch .logo:hover {
    color: darkblue;
}

.mainSearch .searchInput {
    height: 3rem;
    border-radius: 1.5rem;
    padding: 0 1rem;
    border-color: beige;
}

.mainSearch .searchInput:focus {
    border: 0.35rem solid teal;
}

.navigation,
.links {
    display: flex;
}

.accountSettings {
    position: relative;
}

.accountSettings button {
    cursor: pointer;
    border: none;
    background-color: inherit;
}

.accountSettingsMenu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 75px;
    right: 0;
    width: 180px;
    background-color: grey;
}

.accountSettingsMenu button {
    padding: 10px 0;
    cursor: pointer;
}

.accountSettingsMenu button:hover {
    background-color: #add8e6;
}


.navigation>li>a {
    border-radius: 50%;
    background-color: aquamarine;
    margin: 0 0.35rem;
    display: flex;
}

.navigation>li>a:hover {
    background-color: teal;
    border: 1px solid royalblue;
}

.navIcons {
    font-size: 3rem;
    color: royalblue;
    margin: 0 0.5rem;
}

.navIcons:hover {
    color: darkblue;
}

.bellIcon {
    position: relative;
    display: block;
}

.bellIcon span {
    width: 1.5rem;
    height: 1.5rem;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    color: white;
    font-weight: bold;
}

.mainContent ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    padding: 5px 200px 10px 400px;
    margin-top: 2%;
}

.mainContent ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 2px solid grey;
    width: 450px;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 10px;
}

.mainContent ul li button {
    width: 350px;
    height: 30px;
    margin: 1%;
    border-radius: 10%;
}

.mainContent ul li .interestedBtn {
    cursor: pointer;
}

h3 {
    border: 2px solid whitesmoke;
    background-color: lightblue;
    width: 290px;
    padding: 2px;
    border-radius: 10px;
    margin-left: 400px;
    margin-top: 7%;
    text-align: center;
}

.mainContent ul li .interested {
    background-color: blue;
    color: white;
}

@media only screen and (max-width: 1550px) {

    .mainContent {
        position: relative;
        top: 5rem;
        left: -18rem;
    }

    .mainContent ul {
        width: 120rem;
    }

    h3 {
        position: relative;
        top: 5rem;
        left: -15rem;
    }
}

@media only screen and (max-width: 1000px) {

    .mainNavigation {
        display: none;
    }

    .mainContent {
        left: -18rem;
    }

    h3 {
        left: -18rem;
    }

    .mainContent ul {
        width: 60rem;
        align-self: center;
    }

    .mainSearch .searchInput {
        display: none;
    }
}

@media only screen and (max-width: 600px) {

    .mainContent {
        left: -20rem;
        width: 90%;
    }

    h3 {
        left: -20rem;
    }
}