* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: lightblue;
}

.mainSearch {
    display: flex;
    align-items: center;
}

.mainSearch .logo {
    padding: 1rem;
    font-size: 3rem;
    color: royalblue;
}

.mainSearch .logo:hover {
    color: darkblue;
}

.mainSearch .searchInput {
    height: 3rem;
    border-radius: 1.5rem;
    padding: 0 1rem;
    border-color: beige;
}

.mainSearch .searchInput:focus {
    border: 0.35rem solid teal;
}

.navigation,
.links {
    display: flex;
}

.accountSettings {
    position: relative;
}

.accountSettings button {
    cursor: pointer;
    border: none;
    background-color: inherit;
}

.accountSettingsMenu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 75px;
    right: 0;
    width: 180px;
    background-color: grey;
}

.accountSettingsMenu button {
    padding: 10px 0;
    cursor: pointer;
}

.accountSettingsMenu button:hover {
    background-color: #add8e6;
}


.navigation>li>a {
    border-radius: 50%;
    background-color: aquamarine;
    margin: 0 0.35rem;
    display: flex;
}

.navigation>li>a:hover {
    background-color: teal;
    border: 1px solid royalblue;
}

.navIcons {
    font-size: 3rem;
    color: royalblue;
    margin: 0 0.5rem;
}

.navIcons:hover {
    color: darkblue;
}

.bellIcon {
    position: relative;
    display: block;
}

.bellIcon span {
    width: 1.5rem;
    height: 1.5rem;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    color: white;
    font-weight: bold;
}

.mainContent {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.mainContent ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    padding: 0 300px 80px 470px;
}

.mainContent ul li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 2px solid grey;
    width: 170px;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 10px;
}

.mainContent ul button {
    width: 90px;
    height: 30px;
    margin: 1%;
    border-radius: 10%;
}

.mainContent ul .userName {
    text-align: center;
}

.mainContent ul .friendRequest .confirm {
    cursor: pointer;
    margin-left: 18%;
    background-color: rgb(59, 112, 247);
    color: white;
}

.mainContent ul .friendRequest .remove {
    cursor: pointer;
    margin-left: 18%;
}

.mainContent ul .suggestedFriend .addFriend {
    cursor: pointer;
    margin-left: 18%;
    background-color: rgb(198, 223, 246);
    color: blue;
}

.mainContent ul .suggestedFriend .removeRequest {
    cursor: pointer;
    margin-left: 18%;
}


h2 {
    border: 2px solid whitesmoke;
    background-color: lightblue;
    width: 160px;
    padding: 2px;
    border-radius: 10px;
    margin-left: 80px;
    margin-top: 20px;
    position: fixed;
}

h3 {
    margin-left: 370px;
}

.leftContent #friendList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    list-style-type: none;
    position: fixed;
    width: 300px;
    height: 750px;
    border: 1px solid whitesmoke;
    overflow: auto;
    margin-top: 70px;
    padding: 10px;
}

.leftContent #friendList li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.leftContent img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.leftContent #friendList .profileName {
    text-align: center;
}

.leftContent button {
    display: none;
}

@media only screen and (max-width: 1200px) {

    .leftContent {
        margin-top: 5rem;
    }

    .mainContent {
        margin-top: 5rem;
    }
}

@media only screen and (max-width: 800px) {

    .mainNavigation {
        display: none;
    }

    .mainContent {
        position: relative;
        left: -6rem;
    }

    h3 {
        position: relative;
        left: 3rem;
    }
}

@media only screen and (max-width: 570px) {

    .leftContent {
        display: none;
    }

    .mainContent {
        left: -16rem;
    }
}

@media only screen and (max-width: 410px) {

    .mainContent {
        left: -25rem;
    }

    .mainSearch .searchInput {
        display: none;
    }
}