* {
    box-sizing: border-box;
}

.myFriendsCotainer {
    display: flex;
    position: relative;
    gap: 15rem;

    .menuList {
        display: flex;
        flex-direction: column;
        gap: 0.1rem;
        list-style-type: none;
        font-size: 130%;
        width: 20rem;
        height: 90vh;
        border: 3px solid whitesmoke;
        position: relative;
        top: -1rem;
        left: 1rem;
        padding: 1rem;
        background-color: whitesmoke;
        border-radius: 1%;

        .menuItem {
            display: flex;
            gap: 0.5rem;

            p {
                position: relative;
                left: 0.5rem;

                span {
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    text-shadow: 0 0 5px lightpink;
                }
            }

            a {
                padding: 10px 0 10px 10px;
                display: flex;
                align-items: center;
                text-decoration: none;
                color: inherit;

                &:focus {
                    color: purple;
                }
            }
        }
    }

    .myFriendsList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border: 3px solid whitesmoke;
        position: relative;
        overflow: auto;
        display: flex;
        width: 70rem;
        height: 90vh;
        gap: 1rem;
        padding: 0.2rem;
        top: 0.3rem;
        background-color: whitesmoke;
        border-radius: 1%;

        .myFriends {
            padding: 0.2rem;
            position: relative;
            width: 10rem;

            .myFriendName {
                position: relative;
                left: 0.5rem;
            }

            .unfriendButton {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: relative;
                top: -1rem;
                left: 1.8rem;
                border: 1px solid teal;
                color: white;
                background-color: rgb(27, 173, 173);
            }
        }
    }
}

.requestsContainer {
    display: flex;
    position: relative;
    gap: 15rem;

    .menuList {
        display: flex;
        flex-direction: column;
        gap: 0.1rem;
        list-style-type: none;
        font-size: 130%;
        width: 20rem;
        height: 90vh;
        border: 3px solid whitesmoke;
        position: relative;
        top: -1rem;
        left: 1rem;
        padding: 1rem;
        background-color: whitesmoke;
        border-radius: 1%;

        .menuItem {
            display: flex;
            gap: 0.5rem;

            p {
                position: relative;
                left: 0.5rem;

                span {
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    text-shadow: 0 0 5px lightpink;
                }
            }

            a {
                padding: 10px 0 10px 10px;
                display: flex;
                align-items: center;
                text-decoration: none;
                color: inherit;

                &:focus {
                    color: purple;
                }
            }
        }
    }

    .friendRequestsList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border: 2px solid whitesmoke;
        position: relative;
        overflow: auto;
        display: flex;
        width: 70rem;
        height: 90vh;
        gap: 1rem;
        padding: 0.2rem;
        top: 0.3rem;
        background-color: whitesmoke;
        border-radius: 1%;

        .friendRequest {
            padding: 0.2rem;
            position: relative;
            width: 10rem;

            .friendName {
                position: relative;
                left: 0.5rem;
            }

            .button {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: relative;
                top: -1.7rem;
                gap: 0.2rem;

                .confirmButton {
                    position: relative;
                    width: 6rem;
                    height: 2rem;
                    background-color: rgb(27, 173, 173);
                    color: white;
                    border-radius: 10%;
                    border: 1px solid teal;
                }

                .removeButton {
                    position: relative;
                    width: 6rem;
                    height: 2rem;
                    left: -0.2rem;
                    background-color: lightgray;
                    color: black;
                    border-radius: 10%;
                    border: 1px solid gray;
                }
            }
        }
    }
}

.suggestedContainer {
    display: flex;
    position: relative;
    gap: 15rem;

    .menuList {
        display: flex;
        flex-direction: column;
        gap: 0.1rem;
        list-style-type: none;
        font-size: 130%;
        width: 20rem;
        height: 90vh;
        border: 3px solid whitesmoke;
        position: relative;
        top: -1rem;
        left: 1rem;
        padding: 1rem;
        background-color: whitesmoke;
        border-radius: 1%;

        .menuItem {
            display: flex;
            gap: 0.5rem;

            p {
                position: relative;
                left: 0.5rem;

                span {
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    text-shadow: 0 0 5px lightpink;
                }
            }

            a {
                padding: 10px 0 10px 10px;
                display: flex;
                align-items: center;
                text-decoration: none;
                color: inherit;

                &:focus {
                    color: purple;
                }
            }
        }
    }

    .suggestedFriendsList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border: 2px solid whitesmoke;
        position: relative;
        overflow: auto;
        display: flex;
        width: 70rem;
        height: 90vh;
        gap: 1rem;
        padding: 0.2rem;
        top: 0.3rem;
        background-color: whitesmoke;
        border-radius: 1%;

        .suggestedFriend {
            padding: 0.2rem;
            position: relative;
            width: 10rem;

            .suggestedFriendName {
                position: relative;
                left: 0.5rem;
            }

            .button {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: relative;
                top: -1.7rem;
                gap: 0.2rem;

                .addFriendButton {
                    position: relative;
                    width: 6rem;
                    height: 2rem;
                    background-color: rgb(27, 173, 173);
                    color: white;
                    border-radius: 10%;
                    border: 1px solid teal;
                }

                .removeButton {
                    position: relative;
                    width: 6rem;
                    height: 2rem;
                    left: -0.2rem;
                    background-color: lightgray;
                    color: black;
                    border-radius: 10%;
                    border: 1px solid gray;
                }
            }
        }
    }
}

@media only screen and (max-width: 1500px) {
    .myFriendsCotainer {
        flex-direction: column;

        .menuList {
            flex-direction: row;
            height: 10vh;
            width: 70rem;
            left: 5rem;
            justify-content: space-evenly;
        }

        .myFriendsList {
            left: 5rem;
            top: -18rem;
        }
    }

    .requestsContainer {
        flex-direction: column;

        .menuList {
            flex-direction: row;
            height: 10vh;
            width: 70rem;
            left: 5rem;
            justify-content: space-evenly;
        }

        .friendRequestsList {
            left: 5rem;
            top: -18rem;
        }
    }

    .suggestedContainer {
        flex-direction: column;

        .menuList {
            flex-direction: row;
            height: 10vh;
            width: 70rem;
            left: 5rem;
            justify-content: space-evenly;
        }

        .suggestedFriendsList {
            left: 5rem;
            top: -18rem;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .myFriendsCotainer {
        left: -4rem;
        .menuList {
            width: 60rem;
        }

        .myFriendsList {
            width: 60rem;
            height: 60rem;
        }
    }

    .requestsContainer {
        left: -4rem;
        .menuList {
            width: 60rem;
        }

        .friendRequestsList {
            width: 60rem;
            height: 60rem;
        }
    }

    .suggestedContainer {
        left: -4rem;
        .menuList {
            width: 60rem;
        }

        .suggestedFriendsList {
            width: 60rem;
            height: 60rem;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .myFriendsCotainer {
        .menuList {
            width: 50rem;
        }

        .myFriendsList {
            width: 50rem;
            height: 60rem;
        }
    }

    .requestsContainer {
        .menuList {
            width: 50rem;
        }

        .friendRequestsList {
            width: 50rem;
            height: 60rem;
        }
    }

    .suggestedContainer {
        .menuList {
            width: 50rem;
        }

        .suggestedFriendsList {
            width: 50rem;
            height: 60rem;
        }
    }
}

@media only screen and (max-width: 800px) {
    .myFriendsCotainer {
        .menuList {
            width: 40rem;
        }

        .myFriendsList {
            width: 40rem;
            height: 60rem;
        }
    }

    .requestsContainer {
        .menuList {
            width: 40rem;
        }

        .friendRequestsList {
            width: 40rem;
            height: 60rem;
        }
    }

    .suggestedContainer {
        .menuList {
            width: 40rem;
        }

        .suggestedFriendsList {
            width: 40rem;
            height: 60rem;
        }
    }
}

@media only screen and (max-width: 600px) {
    .myFriendsCotainer {
        .menuList {
            width: 30rem;
        }

        .myFriendsList {
            width: 30rem;
            height: 60rem;
            top: -17.5rem;
        }
    }

    .requestsContainer {
        .menuList {
            width: 30rem;
        }

        .friendRequestsList {
            width: 30rem;
            height: 60rem;
            top: -17.5rem;
        }
    }

    .suggestedContainer {
        .menuList {
            width: 30rem;
        }

        .suggestedFriendsList {
            width: 30rem;
            height: 60rem;
            top: -17.5rem;
        }
    }
}

@media only screen and (max-width: 450px) {
    .myFriendsCotainer {
        
        .menuList {
            width: 20rem;
            height: 20rem;
            font-size: large;
            flex-direction: column;
        }

        .myFriendsList {
            width: 20rem;
            height: 90rem;
        }
    }

    .requestsContainer {
        .menuList {
            width: 20rem;
            height: 20rem;
            font-size: large;
            flex-direction: column;
        }

        .friendRequestsList {
            width: 20rem;
            height: 90rem;
        }
    }

    .suggestedContainer {
        .menuList {
            width: 20rem;
            height: 20rem;
            font-size: large;
            flex-direction: column;
        }

        .suggestedFriendsList {
            width: 20rem;
            height: 90rem;
        }
    }
}