header {
    width: 100%;
    height: 5rem;
    background-color: rgb(27, 173, 173);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;

    .logo {
        color: purple;
        font-size: 3rem;
        margin: 2rem;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .menu {
        list-style: none;
        margin: 2rem;
        padding: 0;
        display: flex;
        align-items: baseline;

        .menuItem {
            margin: 0 1rem;

            a {
                text-decoration: none;
                color: white;
                white-space: nowrap;
                font-weight: bold;

                &:global.active {
                    color: purple;
                }

                &:hover {
                    color: lightblue;
                }
            }
        }
    }
}

@media only screen and (max-width: 1300px) {
    header {
        .logo {
            font-size: 2rem;
        }

        .menu {
            position: relative;
            right: 12rem;
        }
    }
}

@media only screen and (max-width: 680px) {
    header {
        .logo {
            font-size: 2rem;
        }

        .menu {
            position: relative;
            right: 8rem;
        }
    }
}

@media only screen and (max-width: 680px) {
    header {
        .logo {
            font-size: 1.5rem;
        }

        .menu {
            position: relative;
            right: 4rem;
        }
    }
}